<!DOCTYPE html>
<html ng-app="pspApp">
<head>
  <title>ProsperRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'manifests/lib_man' %>
  <%= javascript_include_tag 'manifests/psp_man' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
