<!DOCTYPE html>
<html ng-app="pspApp">
<head>
  <title>ProsperRails</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'manifests/lib_man' %>
<%= javascript_include_tag "manifests/#{@jsPageModule}_man" %>
<script>
  (function (angular) {
    angular.module('pspApp', ['<%= @jsPageModule %>'])
        .run(function ($rootScope) {
          $rootScope.$apply($(document).foundation());
        }
    );
  })(angular);
</script>
<!--jsPageModule: <%= @jsPageModule %>-->
</body>
</html>
